<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <main>
        <form action="/register" method="POST">
            <input type="email" name="email" placeholder="Introduce tu emai" required />
            <input type="password" name="password" placeholder="Introduce una contraseña" />
            <button type="submit">Enviar</button>
        </form>
    </main> 
</body>
</html>