body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #005f99;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos del header */
    align-items: center; /* Centra verticalmente los elementos */
}

.home {
    display: flex;
    align-items: center; /* Centra el contenido del div */
}

.users {
    display: flex;
    align-items: center; /* Centra el contenido del div */
}

header form {
    display: inline;
    margin-left: 10px; /* Espacio entre los botones */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido del main */
    align-items: center; /* Centra verticalmente el contenido */
    height: calc(100vh - 100px); /* Ajusta la altura disponible para centrar verticalmente */
}

main form {
    display: flex;
    flex-direction: column; /* Orienta los elementos del formulario en columna */
    background-color: white;
    padding: 20px; /* Espaciado interno del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
}

input[type="email"],
input[type="password"] {
    margin-bottom: 15px; /* Espacio entre los campos de entrada */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde de los campos de entrada */
    border-radius: 5px; /* Bordes redondeados */
    width: 300px; /* Ancho del campo de entrada */
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    outline: none; /* Elimina el borde por defecto */
}

button[type="submit"] {
    width: 100%; /* Botón ocupa todo el ancho del formulario */
}
